input[type="text"],
select,
textarea
{
    font-family: Georgia, "Times New Roman", Times, serif;
    background: rgba(255,255,255,.1);
    border: none;
    border-radius: 4px;
    font-size: 23px;
    margin: 0;
    outline: 0;
    padding: 7px;
    width: 100%;
    box-sizing: border-box; 
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box; 
    background-color: #e8eeef;
    color:#8a97a0;
    -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    margin-bottom: 30px;
    
}
select
{
    font-family: Georgia, "Times New Roman", Times, serif;
    background: rgba(255,255,255,.1);
    border: none;
    border-radius: 4px;
    font-size: 30px;
    margin: 0;
    outline: 0;
    padding: 7px;
    width: 100%;
    box-sizing: border-box; 
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box; 
    background-color: #e8eeef;
    color:#8a97a0;
    -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    margin-bottom: 30px;
    
}
label{
    display:inline-block;
    background-color:#F7F7F7;
    width: 100%;
    padding:4px 11px;
    font-family:Arial;
    font-size: 23px;
    padding-left: 10%;
}
label:last-child{
    margin-bottom: 30px;
}
td h3
{
    margin-top: -12px;
}
input[type="text"]:focus,
select:focus,
textarea:focus
{
    background: #d2d9dd;
}

input[type="submit"],
input[type="reset"]
{
    position: relative;
    display: block;
    padding: 10px;
    color: #FFF;
    margin: 0 auto;
    background: #1abc9c;
    font-size: 18px;
    text-align: center;
    font-style: normal;
    width: 100%;
    border: 1px solid #16a085;
    border-width: 1px 1px 3px;
    border-radius: 8px;
    margin-bottom: 10px;
}
input[type="submit"]:hover,
input[type="reset"]:hover
{
    background: #109177;
}